html,
body{
  margin: 0;
  height: 100vh;
  background-color: #1A1A1A;
}

.navBar{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
}
.navBar>*{
  margin: 0;
  color: white;
}

h3{
  color: white;
}

.home{
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 20px;
}

.trending{
  display: flex;
  flex-direction: column;
}

.cards{

}

.cards > *{
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
}